body {
	background: white;
	margin: 0;
	font-family: verdana;
}

.grid {
	margin-top: 20px;
	margin-left: 20px;
	width: 1000px;
	display: grid;
	grid-template: repeat(6, 1fr) / 2fr 3fr;
	grid-gap: 10px 20px;
}

.title {
	font-family: verdana;
	font-size: 20pt;
	font-weight: 600;
}

.image {
	width: 400px;
	grid-row: span 3;
}

.description {
	font-size: 13px;

}

.source {
	font-size: 13px;
	font-style: italic;
}

@media screen and (max-width: 450px) {
	body {
		background: white;
	}

	.grid {
		width: 425px;
		grid-template: repeat(2, 5fr 1fr 1fr 1fr) / 1fr;
		grid-gap: 10px;
	}

	.image {
		grid-row: span 1;
	}

	.title {
		font-size: 16pt;
	}
}